.profile

.profile__avatar
  height: 10rem
  width: 10rem
  border-radius: 50%
  border: 2px solid lighgray
  margin-bottom: 1rem

.profile__name
  font:
    size: 1.5rem
    weight: bold

.profile__title
  font:
    size: 1.5rem
    weight: bold

.profile__twitter-title
  font:
    size: 1rem
    weight: bold
